body{
    background-color:#ACE6E8;
    font-family: Aptos, dotum, gisha;
    margin: 50px;
}

h1{
    color: #A68BA0;
    text-align: center;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
}
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgba(204, 150, 0, 0.842); /* pick a color */
border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid #A68BA0; /* choose a color */
    display: block;
    margin: auto;
}

a { /* change the appearance of ALL links */
    text-decoration: none;
    color: black;
    }

.project p { /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px;
}